.navbar {
  background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  max-width: 1500px;
}

.navbar-logo {
  color: rgb(54, 245, 16);
  position: absolute;
  top: 0;
  left: 0;
  font-size: 2rem;
  transform: translate(25%, 15%);
}

.fa-leaf {
  margin-left: 0.5rem;
  font-size: 1.8rem;
}

.nav-menu {
  margin-right: 60rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 90vh;
  position: absolute;
  top: 80px;
  left: -100%;
  opacity: 1;
  transition: all 0.5s ease;
}

.nav-item {
  height: 80px;
}

.nav-links {
  display: block;
  text-align: center;
  margin: 2rem auto;
  border-radius: 4px;
  width: 80%;
  text-decoration: none;
  font-size: 1.5rem;
  background-color: transparent;
  color: rgb(54, 245, 16);
  padding: 14px 20px;
  border: 1px solid #fff;
  transition: all 0.3s ease-out;
}

.nav-links:hover {
  border-bottom: 2px solid #fff;
  transition: all 0.2s ease-out;
}

.fa-bars {
  color: rgb(54, 245, 16);
}

.menu-icon {
  display: flex;
  position: absolute;
  top: 0;
  transform: translate(950%, 15%);
  font-size: 1.8rem;
  cursor: pointer;
  background-color: transparent;
  width: 70px;
  height: 10vh;
  align-items: flex-end;
  transition: 850ms;
}

.nav-menu.active {
  background: #242222;
  transform: translate(100%, 0%);
  opacity: 1;
  transition: all 0.5s ease;
  z-index: 1;
}

.NavbarItems {
  position: relative;
}

.fa-times {
  color: #40b48e;
  font-size: 2rem;
}
